<nord-layout class="n-padding-m">
    <nord-stack>
        <nord-textarea label="Label" maxlength="500" resize="auto" character-counter expand>
            <div slot="hint">
                Hint is an accessible way to provide <strong>additional information</strong> that might help the user
            </div>
        </nord-textarea>
        <nord-checkbox label="Отправить анонимно">
            <div slot="hint">
                Анонимная апелляция скрывает отправителя от <strong>проверяющых</strong>
            </div>
        </nord-checkbox>

        <nord-button href="#" variant="primary">Отправить</nord-button>
    </nord-stack>
</nord-layout>