<nord-stack gap="l" direction="vertical" align-items="stretch" class="n-padding-m">
  <div class="n-typeset n-align-center n-padding-be-l n-padding-bs-xl">
    <nord-avatar name="Laura Williams" size="xxl" variant="default"></nord-avatar>
    <h1 class="n-typescale-xxl">Welcome, Laura Williams</h1>
    <p class="n-color-text-weaker">Here you can manage your account to personalize the experience.</p></div>
  <nord-stack class="overview" direction="horizontal" gap="l" align-items="stretch">
    <nord-card padding="l"><h2 slot="header">Account overview</h2>
      <nord-stack direction="horizontal" gap="m" align-items="stretch">
        <nord-stack gap="l" direction="vertical" align-items="stretch"><p class="n-color-text-weak">View all saved data
          on your Nordhealth account and choose what activity is kept to personalize your experience.</p>
          <nord-button variant="primary" type="submit" size="m">Manage your account<!----></nord-button>
        </nord-stack>
        <img src="/img/account.svg"
             style="min-width: calc(var(--n-size-icon-xxl) * 1.5); width: calc(var(--n-size-icon-xxl) * 1.5); height: auto;"
             alt=""></nord-stack>
    </nord-card>
    <nord-card padding="l"><h2 slot="header">Security checkup</h2>
      <nord-stack direction="horizontal" gap="m" align-items="stretch">
        <nord-stack gap="l" direction="vertical" align-items="stretch"><p class="n-color-text-weak">Our Security Checkup
          analyzed your account and data. We found no recommended actions this time.</p>
          <nord-button variant="primary" type="submit" size="m">Manage security<!----></nord-button>
        </nord-stack>
        <img src="/img/security.svg"
             style="min-width: calc(var(--n-size-icon-xxl) * 1.5); width: calc(var(--n-size-icon-xxl) * 1.5); height: auto;"
             alt=""></nord-stack>
    </nord-card>
  </nord-stack>
  <nord-card padding="l" class="services-card"><h2 slot="header">Frequently asked questions</h2>
    <div class="services"><a href="#"><p>What is the Nord Design System?</p>
      <nord-icon class="n-margin-is-m" name="arrow-right" color="var(--n-color-icon)" size="s"></nord-icon>
    </a><a href="#"><p>Why is the design system public?</p>
      <nord-icon class="n-margin-is-m" name="arrow-right" color="var(--n-color-icon)" size="s"></nord-icon>
    </a><a href="#"><p>What is the goal of the design system?</p>
      <nord-icon class="n-margin-is-m" name="arrow-right" color="var(--n-color-icon)" size="s"></nord-icon>
    </a><a href="#"><p>What’s on the roadmap?</p>
      <nord-icon class="n-margin-is-m" name="arrow-right" color="var(--n-color-icon)" size="s"></nord-icon>
    </a><a href="#"><p>What’s the meaning of “draft” badges?</p>
      <nord-icon class="n-margin-is-m" name="arrow-right" color="var(--n-color-icon)" size="s"></nord-icon>
    </a><a href="#"><p>Can I use Nord in any project?</p>
      <nord-icon class="n-margin-is-m" name="arrow-right" color="var(--n-color-icon)" size="s"></nord-icon>
    </a><a href="#"><p>Is there a way to monitor API status?</p>
      <nord-icon class="n-margin-is-m" name="arrow-right" color="var(--n-color-icon)" size="s"></nord-icon>
    </a><a href="#"><p>How do I get started with Nord?</p>
      <nord-icon class="n-margin-is-m" name="arrow-right" color="var(--n-color-icon)" size="s"></nord-icon>
    </a><a href="#"><p>Where can I find the presentation templates?</p>
      <nord-icon class="n-margin-is-m" name="arrow-right" color="var(--n-color-icon)" size="s"></nord-icon>
    </a><a href="#"><p>What’s the difference between RGB, CMYK and Spot colors?</p>
      <nord-icon class="n-margin-is-m" name="arrow-right" color="var(--n-color-icon)" size="s"></nord-icon>
    </a><a href="#"><p>Can I use Nord together with other CSS frameworks?</p>
      <nord-icon class="n-margin-is-m" name="arrow-right" color="var(--n-color-icon)" size="s"></nord-icon>
    </a></div>
  </nord-card>
  <div class="footnotes n-align-center n-font-size-s n-color-text-weaker n-padding-bs-m n-padding-be-xxl">Nord keeps
    your data private and safe, only you can view these settings. <a href="#">Learn more</a></div>
</nord-stack>
