<nord-layout class="n-padding-m">
  <nord-stack>
    <nord-stack direction="horizontal">
      <nord-select name="page-size" value="2022" label="Год">
        <option value="2022">2022</option>
        <option value="2023">2023</option>
        <option value="2024">2024</option>
      </nord-select>
      <nord-select name="page-size" value="25" label="Период">
        <option value="25">Начальный</option>
        <option value="50">Городской</option>
        <option value="50">Областной</option>
        <option value="100">Республиканский</option>
      </nord-select>
      <nord-select name="page-size" value="25" label="Номинация">
        <option value="25">25 per page</option>
        <option value="50">50 per page</option>
        <option value="100">100 per page</option>
      </nord-select>
    </nord-stack>
    <nord-stack>
      <nord-card padding="none">
        <h2 slot="header">Condensed</h2>
        <nord-table density="condensed">
          <table>
            <thead>
            <tr>
              <th>Amount</th>
              <th>Description</th>
              <th>Method</th>
              <th>Date</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>350,00&thinsp;€</td>
              <td class="n-table-ellipsis">
                Suspendisse blandit sodales eros, quis aliquet leo aliquet ultrices lorem ipsum dolor sit amet
                consectetuer adipiscing suspendisse blandit sodales eros, quis aliquet leo aliquet ultrices lorem ipsum
                dolor sit amet consectetuer adipiscing
              </td>
              <td>Card</td>
              <td>20.3.2021</td>
            </tr>
            <tr>
              <td>350,00&thinsp;€</td>
              <td class="n-table-ellipsis">
                Suspendisse blandit sodales eros, quis aliquet leo aliquet ultrices lorem ipsum dolor sit amet
                consectetuer adipiscing suspendisse blandit sodales eros, quis aliquet leo aliquet ultrices lorem ipsum
                dolor sit amet consectetuer adipiscing
              </td>
              <td>Card</td>
              <td>20.3.2021</td>
            </tr>
            <tr>
              <td>350,00&thinsp;€</td>
              <td class="n-table-ellipsis">
                Suspendisse blandit sodales eros, quis aliquet leo aliquet ultrices lorem ipsum dolor sit amet
                consectetuer adipiscing suspendisse blandit sodales eros, quis aliquet leo aliquet ultrices lorem ipsum
                dolor sit amet consectetuer adipiscing
              </td>
              <td>Card</td>
              <td>20.3.2021</td>
            </tr>
            </tbody>
          </table>
        </nord-table>
      </nord-card>
      <nord-card padding="none">
        <h2 slot="header">Default</h2>
        <nord-table>
          <table>
            <thead>
            <tr>
              <th>Amount</th>
              <th>Description</th>
              <th>Method</th>
              <th>Date</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>350,00&thinsp;€</td>
              <td class="n-table-ellipsis">
                Suspendisse blandit sodales eros, quis aliquet leo aliquet ultrices lorem ipsum dolor sit amet
                consectetuer adipiscing suspendisse blandit sodales eros, quis aliquet leo aliquet ultrices lorem ipsum
                dolor sit amet consectetuer adipiscing
              </td>
              <td>Card</td>
              <td>20.3.2021</td>
            </tr>
            <tr>
              <td>350,00&thinsp;€</td>
              <td class="n-table-ellipsis">
                Suspendisse blandit sodales eros, quis aliquet leo aliquet ultrices lorem ipsum dolor sit amet
                consectetuer adipiscing suspendisse blandit sodales eros, quis aliquet leo aliquet ultrices lorem ipsum
                dolor sit amet consectetuer adipiscing
              </td>
              <td>Card</td>
              <td>20.3.2021</td>
            </tr>
            <tr>
              <td>350,00&thinsp;€</td>
              <td class="n-table-ellipsis">
                Suspendisse blandit sodales eros, quis aliquet leo aliquet ultrices lorem ipsum dolor sit amet
                consectetuer adipiscing suspendisse blandit sodales eros, quis aliquet leo aliquet ultrices lorem ipsum
                dolor sit amet consectetuer adipiscing
              </td>
              <td>Card</td>
              <td>20.3.2021</td>
            </tr>
            </tbody>
          </table>
        </nord-table>
      </nord-card>
      <nord-card padding="none">
        <h2 slot="header">Relaxed</h2>
        <nord-table density="relaxed">
          <table>
            <thead>
            <tr>
              <th>Amount</th>
              <th>Description</th>
              <th>Method</th>
              <th>Date</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>350,00&thinsp;€</td>
              <td class="n-table-ellipsis">
                Suspendisse blandit sodales eros, quis aliquet leo aliquet ultrices lorem ipsum dolor sit amet
                consectetuer adipiscing suspendisse blandit sodales eros, quis aliquet leo aliquet ultrices lorem ipsum
                dolor sit amet consectetuer adipiscing
              </td>
              <td>Card</td>
              <td>20.3.2021</td>
            </tr>
            <tr>
              <td>350,00&thinsp;€</td>
              <td class="n-table-ellipsis">
                Suspendisse blandit sodales eros, quis aliquet leo aliquet ultrices lorem ipsum dolor sit amet
                consectetuer adipiscing suspendisse blandit sodales eros, quis aliquet leo aliquet ultrices lorem ipsum
                dolor sit amet consectetuer adipiscing
              </td>
              <td>Card</td>
              <td>20.3.2021</td>
            </tr>
            <tr>
              <td>350,00&thinsp;€</td>
              <td class="n-table-ellipsis">
                Suspendisse blandit sodales eros, quis aliquet leo aliquet ultrices lorem ipsum dolor sit amet
                consectetuer adipiscing suspendisse blandit sodales eros, quis aliquet leo aliquet ultrices lorem ipsum
                dolor sit amet consectetuer adipiscing
              </td>
              <td>Card</td>
              <td>20.3.2021</td>
            </tr>
            </tbody>
          </table>
        </nord-table>
      </nord-card>
    </nord-stack>
  </nord-stack>
</nord-layout>
