
<nord-stack class="n-padding-m">
  <nord-card padding="none">
    <h2 slot="header">Condensed</h2>
    <nord-table density="condensed">
      <table>
        <thead>
        <tr>
          <th>Amount</th>
          <th>Description</th>
          <th>Method</th>
          <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>350,00&thinsp;€</td>
          <td class="n-table-ellipsis">
            Suspendisse blandit sodales eros, quis aliquet leo aliquet ultrices lorem ipsum dolor sit amet
            consectetuer adipiscing suspendisse blandit sodales eros, quis aliquet leo aliquet ultrices lorem ipsum
            dolor sit amet consectetuer adipiscing
          </td>
          <td>Card</td>
          <td>20.3.2021</td>
        </tr>
        <tr>
          <td>350,00&thinsp;€</td>
          <td class="n-table-ellipsis">
            Suspendisse blandit sodales eros, quis aliquet leo aliquet ultrices lorem ipsum dolor sit amet
            consectetuer adipiscing suspendisse blandit sodales eros, quis aliquet leo aliquet ultrices lorem ipsum
            dolor sit amet consectetuer adipiscing
          </td>
          <td>Card</td>
          <td>20.3.2021</td>
        </tr>
        <tr>
          <td>350,00&thinsp;€</td>
          <td class="n-table-ellipsis">
            Suspendisse blandit sodales eros, quis aliquet leo aliquet ultrices lorem ipsum dolor sit amet
            consectetuer adipiscing suspendisse blandit sodales eros, quis aliquet leo aliquet ultrices lorem ipsum
            dolor sit amet consectetuer adipiscing
          </td>
          <td>Card</td>
          <td>20.3.2021</td>
        </tr>
        </tbody>
      </table>
    </nord-table>
  </nord-card>
  <nord-card padding="none">
    <h2 slot="header">Default</h2>
    <nord-table>
      <table>
        <thead>
        <tr>
          <th>Amount</th>
          <th>Description</th>
          <th>Method</th>
          <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>350,00&thinsp;€</td>
          <td class="n-table-ellipsis">
            Suspendisse blandit sodales eros, quis aliquet leo aliquet ultrices lorem ipsum dolor sit amet
            consectetuer adipiscing suspendisse blandit sodales eros, quis aliquet leo aliquet ultrices lorem ipsum
            dolor sit amet consectetuer adipiscing
          </td>
          <td>Card</td>
          <td>20.3.2021</td>
        </tr>
        <tr>
          <td>350,00&thinsp;€</td>
          <td class="n-table-ellipsis">
            Suspendisse blandit sodales eros, quis aliquet leo aliquet ultrices lorem ipsum dolor sit amet
            consectetuer adipiscing suspendisse blandit sodales eros, quis aliquet leo aliquet ultrices lorem ipsum
            dolor sit amet consectetuer adipiscing
          </td>
          <td>Card</td>
          <td>20.3.2021</td>
        </tr>
        <tr>
          <td>350,00&thinsp;€</td>
          <td class="n-table-ellipsis">
            Suspendisse blandit sodales eros, quis aliquet leo aliquet ultrices lorem ipsum dolor sit amet
            consectetuer adipiscing suspendisse blandit sodales eros, quis aliquet leo aliquet ultrices lorem ipsum
            dolor sit amet consectetuer adipiscing
          </td>
          <td>Card</td>
          <td>20.3.2021</td>
        </tr>
        </tbody>
      </table>
    </nord-table>
  </nord-card>
  <nord-card padding="none">
    <h2 slot="header">Relaxed</h2>
    <nord-table density="relaxed">
      <table>
        <thead>
        <tr>
          <th>Amount</th>
          <th>Description</th>
          <th>Method</th>
          <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>350,00&thinsp;€</td>
          <td class="n-table-ellipsis">
            Suspendisse blandit sodales eros, quis aliquet leo aliquet ultrices lorem ipsum dolor sit amet
            consectetuer adipiscing suspendisse blandit sodales eros, quis aliquet leo aliquet ultrices lorem ipsum
            dolor sit amet consectetuer adipiscing
          </td>
          <td>Card</td>
          <td>20.3.2021</td>
        </tr>
        <tr>
          <td>350,00&thinsp;€</td>
          <td class="n-table-ellipsis">
            Suspendisse blandit sodales eros, quis aliquet leo aliquet ultrices lorem ipsum dolor sit amet
            consectetuer adipiscing suspendisse blandit sodales eros, quis aliquet leo aliquet ultrices lorem ipsum
            dolor sit amet consectetuer adipiscing
          </td>
          <td>Card</td>
          <td>20.3.2021</td>
        </tr>
        <tr>
          <td>350,00&thinsp;€</td>
          <td class="n-table-ellipsis">
            Suspendisse blandit sodales eros, quis aliquet leo aliquet ultrices lorem ipsum dolor sit amet
            consectetuer adipiscing suspendisse blandit sodales eros, quis aliquet leo aliquet ultrices lorem ipsum
            dolor sit amet consectetuer adipiscing
          </td>
          <td>Card</td>
          <td>20.3.2021</td>
        </tr>
        </tbody>
      </table>
    </nord-table>
  </nord-card>
</nord-stack>
