body{
  background-color: var(--n-color-surface);
  color: var(--n-color-text);
  margin: 0;
  font-size: var(--n-font-size-m);
  font-family: var(--n-font-family);
  line-height: var(--n-line-height);
  animation-delay: 0.05s;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-name: fade;
}
